$danger: #cc3d59 !default;

$info: #2879af !default;
$info-dark: #164463 !default;

$primary: #007a63 !default;
$primary-dark: #004235 !default;

$success: #267741 !default;
$success-dark: #1e5e32 !default;

$warning: #eac952 !default;


@import 'node_modules/bulma/bulma';
