@import 'bulma/sass/utilities/initial-variables';

$bulma-a11y-base-darken-pct: 15%;
$bulma-a11y-dark-pct: 10%;

$danger: darken($red, $bulma-a11y-base-darken-pct) !default;
$danger-dark: darken($danger, $bulma-a11y-dark-pct) !default;

$info: darken($cyan, $bulma-a11y-base-darken-pct) !default;
$info-dark: darken($info, $bulma-a11y-dark-pct) !default;

$primary: darken($turquoise, $bulma-a11y-base-darken-pct) !default;
$primary-dark: darken($primary, $bulma-a11y-dark-pct) !default;

$success: darken($green, $bulma-a11y-base-darken-pct + 4%) !default;
$success-dark: darken($success, $bulma-a11y-dark-pct) !default;

$warning: darken($yellow, $bulma-a11y-base-darken-pct) !default;
$warning-dark: darken($warning, $bulma-a11y-dark-pct + 30%) !default;

@import 'bulma/bulma';
